/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

/* General Styles */
body {
  font-family: "fjalla", sans-serif;
  text-align: center;
  background-color: #0c0f0a;
  color: #ffff;
}

h1 {
  margin: 10px 0;
}

h2 {
  color: #fbff12;
}

#rules {
  color: #41ead4;
  text-decoration: underline;
}

/* buttons */
button {
  max-width: 220px;
  height: 50px;
  background-color: #ff206e;
  border: solid;
  border-color: #0c0f0a;
  border-radius: 15px;
  margin-bottom: 5px;
  padding: 0 10px;
  font-weight: bold;
  color: black;
}

button > a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

div.container {
  text-align: center;
}

ul.rules {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin-top: 0;
}

.game-button {
  background-color: #fbff12;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  margin: 10px;
}

.game-button:hover {
  background-color: #41ead4;
}

i {
  font-size: 50px;
  color: #0c0f0a;
}

#intro-buttons {
  margin-top: 30px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menubtn {
  min-width: 220px;
}

.play-area {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.wins {
  color: greenyellow;
  font-weight: bold;
}

.losses {
  color: red;
  font-weight: bold;
}

.high-score {
  color: gold;
  font-weight: bold;
}

/* Media query: medium mobile phones */
@media screen and (min-width: 375px) {
  /* General */
  body {
    font-size: 16px;
  }

  button {
    font-size: 16px;
    max-width: 280px;
    height: 60px;
  }

  /* Game buttons */
  .game-button {
    width: 100px;
    height: 100px;
  }

  .scores {
    display: inline-block;
    padding: 0 15px;
    font-size: 20px;
    margin: 10px;
  }

  .menubtn {
    min-width: 300px;
  }
}

/* Media query: large mobile phones */
@media screen and (min-width: 390px) {
  /* General */
  body {
    font-size: 18px;
  }

  button {
    font-size: 16px;
    max-width: 320px;
    margin: 10px 0;
    height: 60px;
  }

  /* Game buttons */
  .game-button {
    width: 120px;
    height: 120px;
  }

  .scores {
    display: inline-block;
    padding: 5px 15px;
    font-size: 20px;
    margin: 10px;
  }

  .menubtn {
    min-width: 320px;
  }
}

/* Media query: tablet */
@media screen and (min-width: 768px) {
  /* General */
  body {
    font-size: 18px;
    max-width: 500px;
    margin: auto;
    padding: 50px 0;
  }
}
