/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

/* General Styles */
body {
  font-family: "fjalla", sans-serif;
  text-align: center;
  background-color: #0c0f0a;
  color: #ffff;
}

h2 {
  color: #fbff12;
}

#rules {
  color: #41ead4;
  text-decoration: underline;
}

/* buttons */
button {
  max-width: 220px;
  height: 50px;
  background-color: #ff206e;
  border: solid;
  border-radius: 15px;
  margin-bottom: 5px;
  padding: 0 10px;
}

button > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.game-button {
  background-color: #fbff12;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  margin: 10px;
}

.game-button:hover {
  background-color: #41ead4;
}

i {
  font-size: 50px;
  color: #0c0f0a;
}

#intro-buttons {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menubtn {
  min-width: 220px;
}

.play-area {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
